@import "./base.css";
@import "./responsive.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

header,
footer {
  padding-left: 50px;
  padding-right: 50px;
  @include touch {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

a,
a * {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    color: hsla(160, 100%, 37%, 1) !important;
  }
}

.button {
  color: hsla(160, 100%, 37%, 1);
  border: 1px solid hsla(160, 100%, 37%, 1);
  border-radius: 4px;
  transition: 0.4s;
  width: fit-content;
  &:hover {
    background-color: hsla(160, 100%, 37%, 0.1);
  }
}

.divide {
  align-items: center;
  width: 100%;
  p {
    align-self: flex-end;
    white-space: nowrap;
  }
  &::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--color-border);
    @include touch {
      width: -webkit-fill-available;
    }
  }
}
